header.header {
    padding: 50px 45px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    gap: 50px;
}

.header__nav-item {
    list-style: none;

    a {
        text-decoration: none;
        color: #222;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #222;
            transition: width .3s;
        }

        @media (hover: hover) {
            &:hover::after {
                width: 100%;
            }
        }
    }
}

.header__burger {
    display: none;
}

@media (max-width: 1440px) {
    header.header {
        padding: 30px 15px;
    }
}

@media (max-width: 1080px) {
    // social

    .social {
        gap: 12px;

        .social-item {
            width: 45px;
            height: 45px;
        }
    }


    // architectur

    .architectur__user {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}

@media (max-width: 720px) {
    header.header {
        position: fixed;
        background-color: #fff;
    }

    .header__nav {
        display: none;
        background-color: #eaeaea;
        position: absolute;
        top: 102px;
        left: 0;
        padding: 20px;
        width: 100%;

        &.header__nav--active {
            display: block;
        }

        .header__nav-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .header__nav-item {
                &+.header__nav-item {
                    padding-top: 20px;
                    border-top: 2px solid #222;
                }
            }
        }
    }

    .header__burger {

        background-color: transparent;
        border: none;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;

        div {
            width: 14px;
            height: 2px;
            border-radius: 3px;
            background-color: #000;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        &.header__burger--active {


            div {
                transition: transform 0.3s ease, opacity 0.3s ease;

                &:nth-child(2) {
                    transform: translateX(10px);
                    opacity: 0;
                }

                &:first-child {
                    transform: translateY(4px) rotate(-45deg);
                }

                &:last-child {
                    transform: translateY(-6px) rotate(45deg);
                }
            }
        }
    }
}